<main class="container mx-auto mt-28 px-5">
  <div class="text-center mb-4">
    <h1 class="">Welcome, <%= current_user&.nickname %></h1>
    <%= link_to "Logout", auth_logout_url, class: "underline text-blue-500" %> - <%= link_to "Profile", profile_edit_url, class: "underline text-blue-500" %>
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-4xl">
      <%= form_with(url: search_url) do |form| %>
        <%= form.text_field :search, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        <div class="mt-2 text-center">
          <%= form.submit "Search", class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      <% end %>

      <%= turbo_frame_tag "results" %>
    </div>
  </div>
</main>