<% content_for(:body_attributes) do %> class="bg-blue-950" } <% end %>
<%= turbo_stream_from "home" %>

<div>
  <div id="flash" class="fixed top-0 z-20 w-full">
    <%= render "alerts" %>
  </div>

  <%= render "top_menu" %>

  <main class="container mx-auto px-4 mt-20 mb-24">
    <div class="m-4 mt-14">
      <div class="flex justify-center items-center w-64 h-64 m-auto">
        <img class="" src="/logo3.png" width="500px" alt="logo" />
      </div>
    </div>

    <div class="p-2 space-y-8">
      <div>
        <h2 class="text-2xl text-white">Now Playing</h2>
        <%= render "now_playing", performance: current_performance %>
      </div>

      <div>
        <h2 class="text-2xl text-white">Next Song</h2>
        <%= render "up_next", performance: current_performance %>
      </div>

      <div>
        <h2 class="text-2xl text-white">Queue</h2>
        <%= render "queue", performance: current_performance %>
      </div>
    </div>
  </main>

  <%= render "navigation" %>
</div>