<%= turbo_stream_from "splash" %>

<div data-controller="splash"
     data-splash-state-value="idle"
     data-action="mousemove->splash#mousemove"
     class="bg-blue-950 h-screen w-screen">
  <%= render "now_playing", performance: @performance %>

  <div id="logo-container" class="absolute w-full">
    <div class="flex justify-center items-center h-screen">
      <img class="w-1/4" src="/logo3.png" alt="logo" />
    </div>
  </div>
  
  <%= render "video", performance: @performance %>

  <div id="bottom-container" class="absolute fixed bottom-0 w-full">
    <div class="flex justify-between items-end m-4">
      <div id="qr-code">
        <img src="/qrcode" width="w-1/8" style="image-rendering: pixelated" alt="qrcode" />
        <div class="mt-2 bg-black p-2 rounded-xl bg-opacity-60 text-opacity-100">
          <div class="text-xl 2xl:text-4xl stroke text-white">
            <div>&nbsp;<%= server_url %></div>
          </div>
        </div>
      </div>
      <%= render "up_next", performance: @performance %>
    </div>
  </div>

  <%= render "permissions" %>
</div>
