<%= turbo_stream_from "splash" %>

<div data-controller="splash hide-mouse"
     data-splash-state-value="idle"
     data-action="mousemove->hide-mouse#mousemove"
     class="bg-blue-950 h-screen w-screen">
  <%= render "now_playing", performance: @performance %>

  <div id="logo-container" class="absolute w-full">
    <div class="flex justify-center items-center h-screen">
      <img class="w-1/4" src="/logo3.png" alt="logo" />
    </div>
  </div>

  <%= render "video", performance: @performance %>

  <div id="bottom-container" class="fixed bottom-0 w-full">
    <div class="flex justify-between items-end m-4">
      <%= render "qr_code" %>
      <%= render "up_next", performance: @performance %>
    </div>
  </div>

  <%= render "permissions" %>
</div>
