<%= turbo_stream_from "splash" %>

<div data-controller="splash" data-splash-state-value="idle" class="bg-blue-950 h-screen w-screen">
  <%= render "now_playing", performance: @performance %>

  <div id="logo-container" class="absolute w-full">
    <div class="flex justify-center items-center h-screen">
      <img class="w-1/4" src="/logo3.png" alt="logo" />
    </div>
  </div>
  
  <%= render "video", performance: @performance %>

  <div id="bottom-container" class="absolute fixed bottom-0 w-full">
    <div class="flex justify-between items-end m-4">
      <div id="qr-code">
        <img src="/qrcode" width="w-1/8" style="image-rendering: pixelated" alt="qrcode" />
        <div class="text-xl stroke text-white mt-2">
          <div>&nbsp;<%= server_url %></div>
        </div>
      </div>
      <%= render "up_next", performance: @performance %>
    </div>
  </div>

  <div data-splash-target="permissions" class="absolute h-screen w-screen bg-black z-20">
    <div class="m-auto max-w-3xl">
      <div class="flex items-center p-20 h-screen bg-black">
        <p class="text-white text-center text-xl">
          Due to limititations with browser permissions, you must interact with the page once before it allows autoplay of videos. Karaoke Time will not play otherwise. Click the button below to <a data-action="click->splash#acceptPermissions" href="javascript:" class="underlined text-green-500">confirm</a>.
          <br/>
          <button id="permissions-button" class="opacity-100 mt-4 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" data-action="click->splash#acceptPermissions">Confirm</button>
        </p>
      </div>
    </div>
  </div>
</div>
