<% content_for(:body_attributes) do %> class="bg-[#09283b] text-white" } <% end %>
<%= turbo_stream_from "home" %>

<div>
  <div id="flash" class="fixed top-0 z-20 w-full">
    <%= render "alerts" %>
  </div>

  <%= render "top_menu" %>

  <main class="container mx-auto px-4 mt-20 mb-24">
    <div class="m-4 mt-14">
      <div class="flex justify-center items-center w-32 h-32 m-auto">
        <img class="" src="/logo3.png" width="500px" alt="logo" />
      </div>
    </div>

    <div class="space-y-8">
      <h1 class="text-2xl pl-2">Browse</h1>

      <div class="mt-4">
        <%= render "search/results" %>
      </div>

      <div class="mt-6 text-white">
        <%= paginate @results %>
      </div>
    </div>
  </main>

  <%= render "navigation" %>
</div>