<% content_for(:body_attributes) do %> class="bg-[#09283b]" } <% end %>

<div>
  <div id="flash" class="fixed top-0 z-20 w-full">
    <%= render "alerts" %>
  </div>

  <%= render "top_menu" %>

  <main class="container mx-auto px-4 mt-20 mb-24">
    <div class="m-4 mt-14">
      <div class="flex justify-center items-center w-32 h-32 m-auto">
        <img class="" src="/logo3.png" width="500px" alt="logo" />
      </div>
    </div>

    <div class="space-y-8">
      <%= form_with(model: current_user, url: profile_path(current_user)) do |form| %>
        <%= form.label :nickname, class: "text-white" %>
        <%= form.text_field :nickname, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        <div class="mt-2">
          <%= form.submit "Update", class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      <% end %>
    </div>
  </main>

  <%= render "navigation" %>
</div>